YHC_DB_HOST=127.0.0.1
YHC_DB_PORT=3306
YHC_DB_USER=root
YHC_DB_PASSWORD=
YHC_DEFAULT_DATABASE=yinghuochong_recovery_clean_20260608
YHC_ALLOWED_DATABASES=yinghuochong_recovery_clean_20260608,yinghuochong_recovery_20260608,yinghuochong_local

